@charset "UTF-8";
.main--area {
  margin-top: 50px;
}

.row {
  display: table;
  width: 100%;
  margin-bottom: 50px;
}

.box {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.box-red {
  background-color: #ff7b7b;
  width: 300px;
}

.box-blue {
  background-color: #7b86ff;
}

.box-yellow {
  background-color: #fff27b;
  width: 300px;
}

.box-green {
  background-color: #7bff91;
}

.box-pink {
  background-color: #ff7be2;
  width: 400px;
}

.box-orange {
  background-color: #ffc67b;
  width: 400px;
}

.box-sky {
  background-color: #7bf2ff;
}