@charset "UTF-8";
/* 回答はここから */

.card-list {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.card {
  width: 220px;
  display: flex;
  box-sizing: border-box;
}

.card-inner {
  background: #d2b48c;
  padding: 10px;
  border-radius: 13px;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  flex: 1;
}

.card-inner p {
  line-height: 1;
}